<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Finder</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
  <div class="search-container">
    <h1>Food Finder</h1>
    <input type="text" id="food-search" placeholder="Find food">
    <div id=result-items>
      <div id="food-list" class="dropdown-content"></div>
    </div>
    <script src="{{ url_for('static', filename='index_script.js') }}"></script>
    <div id=button-container>
      <button>Find</button>
    </div>
  </div>
</body>
</html>